<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundcolor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        Platforms:
        <span>PC</span>
      </p>
      <p class="game-tabs-par">
        Publicshers:
        <span>Konami</span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a class="game-tabs-link" href="#" target="_blank">http://</a>
      </p>
      <div class="game-description">
        <p class="game-tabs-votes">
          <span>
            <mat-icon class="game-votes-up">thumb_up</mat-icon>
            <span class="game-votes-count">55</span>
          </span>
          <span>
            <mat-icon class="game-votes-down">thumb_down</mat-icon>
            <span class="game-votes-count">14</span>
          </span>
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img class="game-screenshot" src="" alt="" />
    </mat-tab>
    <mat-tab label="Trailers">
      <video class="game-trailer" controls>
        <source src="https://www.youtube.com/watch?v=LiOzTQAz13Q" />
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
